.tree-view, .tree-cell {
    /*-fx-background-color: -fx-background;*/
    -fx-border-width: 1px;
    -fx-border-color: transparent "#969696" "#969696" transparent;
    -fx-cell-size: 18px;
    -fx-tree-cell-border-color: -fx-color;
}

.tree-cell:selected {
    /*
    -fx-text-fill: "BLACK";
    -fx-background-color: DodgerBlue;
    -fx-text-background-color: Azure;
    */
    -fx-text-fill: "BLACK";
    -fx-font-weight: bold;
    -fx-background-color: derive(-fx-base, 35%);
    -fx-background-insets: 0;
    -fx-background-radius: 1;    
}

.tree-cell:empty {
    -fx-border-width: 0px;
}

#hbSummary {
    -fx-border-width: 1px;
    -fx-border-color: "GREY";
    -fx-background-color: -fx-base; /* GAINSBORO */
    /* nema fx-margin, ova 3 ispod to zamenjuju
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    */
      
}

#tblItem .table-row-cell {
	-fx-cell-size: 25px;
}
